.header, .footer {
  display: block;
  width: 100%;
  height: 50px;
  background: #eee;
  color: #ccc;
  text-align: center;
  line-height: 50px;
}

.footer {
  height: 240px;
}

.modal-dialog {
  width: 300px;
  margin: 50px auto;
}

.modal-content {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.95);
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000;
  z-index: 2;
}
.modal-backdrop.in {
  opacity: 0.85;
}

.modal-header {
  padding: 20px 15px 15px;
  border-bottom: none;
}

h4.modal-title {
  font-size: 1.21429em;
}

.modal-body {
  padding: 0 15px;
}
.modal-body p {
  font-size: 1em;
}

.modal-footer {
  padding: 15px;
  border-top: none;
}
.modal-footer .btn-close {
  min-width: 0;
  text-decoration: underline;
  padding: 6px 0 6px 12px;
}
.modal-footer .btn-close:active {
  box-shadow: none;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.btn {
  font-size: 0.92857em;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-transition: background-color 0.5s ease;
          transition: background-color 0.5s ease;
}
.btn.disabled {
  background-color: #d8d7d7;
  border-color: #d8d7d7;
}

.btn-default {
  color: #fff;
  background-color: #5a5a5a;
  border: none;
}
.btn-default:hover, .btn-default:focus, .btn-default:active {
  color: #fff;
  background-color: #414141;
}

.btn-primary {
  min-width: 130px;
  color: #fff;
  background-color: #000;
  border: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #1a1a1a;
}

.btn-add {
  display: block;
  position: absolute;
  top: 20%;
  left: 52%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(../images/add.svg) no-repeat center center #000;
}
.no-svg .btn-add {
  background-image: url(../images/add.png);
}
.btn-add span {
  display: none;
}

.out-of-stock {
  display: block;
  position: absolute;
  top: 20%;
  left: 52%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #898989;
  color: #fff;
  font-size: 0.78571em;
  text-transform: uppercase;
  padding-top: 13px;
  line-height: 1.2;
}

.btn-lg {
  padding: 11px 12px;
}

.btn-secondary {
  color: #fff;
  background-color: #be514f;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary.focus {
  color: #fff;
  text-decoration: none;
}

img.lazy {
  display: none;
}

.lazy-hidden {
  opacity: 0;
}

.lazy-loaded {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}

body {
  position: relative;
  min-width: 320px;
}

.container.pick {
  padding: 0;
}

.continue-container span {
  display: block;
  text-align: center;
  margin: 6px 0;
}

.start-container {
  margin-bottom: 20px;
}
.start-container.existing-cart {
  display: none;
}

.step-indicator {
  width: 100%;
  height: 23px;
  border-bottom: 1px solid #acacac;
  background-color: #fff;
  color: #ccc;
}
.step-indicator a {
  color: #ccc;
  text-decoration: none;
  width: 100%;
  display: block;
}
.step-indicator .step {
  width: 50%;
  position: relative;
  float: left;
  font-size: 1.07143em;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
}
.step-indicator .step.current {
  background-color: #464646;
  color: #fff;
}
.step-indicator .step-one:after {
  position: absolute;
  top: 0;
  right: -11px;
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 11px solid #fff;
  z-index: 1;
}
.step-indicator .step-one.current:after {
  border-left: 11px solid #464646;
}

.product-container {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  padding-bottom: 20px;
  position: relative;
}

.scroll-hint {
  position: absolute;
  top: 40%;
  margin-top: -35px;
  left: 204px;
  width: 35px;
  height: 70px;
  background: url("../images/chevron.svg") no-repeat 0 0;
}
.no-svg .scroll-hint {
  background-image: url("../images/chevron.png");
}

.product-list {
  white-space: nowrap;
  float: left;
}

.category-itemlist {
  display: inline-block;
}

.product-item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  white-space: normal;
  position: relative;
  width: 200px;
}

.product-img {
  min-height: 200px;
  background: url(../images/loading-spinner@2x.gif) no-repeat center center;
  background-size: 20px 20px;
}
.partner-item .product-img {
  min-height: 100px;
  background: none;
}
.product-img img {
  width: 100%;
  max-width: 400px;
  min-width: 200px;
}

.product-description {
  padding: 0 10px;
}

.product-title {
  min-height: 34px;
  margin-bottom: 6px;
}

.more-info {
  position: relative;
}

.more-info-trigger a {
  width: 26px;
  height: 26px;
  display: block;
  margin: 0 auto;
  background: url(../images/info-close-icon.svg) no-repeat 0 0;
}
.no-svg .more-info-trigger a {
  background-image: url(../images/info-close-icon.png);
}
.more-info-trigger a span {
  display: none;
}
.more-info-trigger a.active {
  background-position: -26px 0;
}

.more-info-content {
  display: none;
  background-color: rgba(235, 233, 233, 0.95);
  padding: 18px 18px 8px 18px;
  position: absolute;
  bottom: 36px;
  max-height: 216px;
  z-index: 1;
}
.more-info-content:after {
  position: absolute;
  bottom: -6px;
  left: 50%;
  margin-left: -6px;
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(235, 233, 233, 0.95);
  z-index: 1;
}
.more-info-content p {
  font-size: 0.85714em;
  text-align: left;
}
.more-info-content p.description {
  font-style: italic;
}

.more-info-scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  max-height: 190px;
}

.category-nav-container {
  width: 100%;
  height: 54px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.category-nav {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  height: 54px;
}

ul.category-list {
  margin: 3px 0 0 0;
  padding: 0;
  list-style-type: none;
  white-space: nowrap;
  position: relative;
  float: left;
}
ul.category-list:before {
  content: '';
  position: absolute;
  top: 29px;
  left: 48px;
  height: 4px;
  width: 80%;
  width: calc(100% - 80px);
  background-color: #e1e1e1;
}
ul.category-list li {
  display: inline-block;
  margin: 0 8px;
  text-align: center;
}
ul.category-list li a {
  width: auto;
  height: 48px;
  display: block;
  font-size: 0.78571em;
  text-transform: uppercase;
  color: #3e3e3e;
  padding: 0 5px;
  position: relative;
  text-decoration: none;
}
ul.category-list li a:before {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  content: '';
  width: 0;
  height: 0;
  border: 8px solid #e1e1e1;
  border-radius: 50%;
}
ul.category-list li a.active:before {
  top: 16px;
  border: 12px solid #e1e1e1;
}
ul.category-list li a.active:after {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  content: '';
  width: 0;
  height: 0;
  border: 8px solid #47a1c5;
  border-radius: 50%;
}

.review-box {
  width: 100%;
  padding: 10px 0;
  background-color: #f3f2f2;
  border-bottom: 1px solid #464646;
  text-align: center;
}

.review {
  padding: 0 0 10px 0;
}

.selection-container .more-info {
  padding: 8px 0 0 0;
  position: inherit;
}
.selection-container .more-info-content {
  font-size: 0.78571em;
  padding: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 176px;
}
.selection-container .more-info-content.left {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  left: 0;
}
.selection-container .more-info-content.left:after {
  left: 15%;
}
.selection-container .more-info-content.right {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  left: auto;
  right: 0;
}
.selection-container .more-info-content.right:after {
  left: auto;
  right: 15%;
}

.selection-title {
  position: relative;
  width: 100%;
  height: 26px;
  font-size: 0.85714em;
  line-height: 26px;
  color: #FFF;
  background-color: #47A1C5;
  margin-bottom: 8px;
}
.selection-title span {
  text-transform: uppercase;
}
.selection-title a {
  color: #fff;
  position: absolute;
  right: 10px;
  text-decoration: underline;
}

.selected-item-list {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 434px;
  min-width: 320px;
  display: table;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.selected-item {
  padding: 0 2px;
  width: 16.66666666666667%;
  max-width: 69px;
  min-width: 50px;
  display: table-cell;
  position: relative;
}

.selected-item-img {
  background: #fff;
}
.selected-item-img img {
  width: 100%;
  max-width: 65px;
}

.partner-container {
  text-align: center;
  padding: 14px 10px;
}
.partner-container .price-container {
  float: none;
  padding: 0;
}

.partner-itemlist {
  margin: 0 auto 40px auto;
  width: auto;
  max-width: 660px;
  min-width: 300px;
}

.partner-item {
  min-width: 100px;
  max-width: 220px;
  width: 33.33%;
  float: left;
}
.partner-item a {
  text-decoration: none;
}
.partner-item .product-img img {
  min-width: 100px;
}
.partner-item .product-description {
  min-height: 32px;
  padding: 0 5px;
}
.partner-item h3.product-title {
  font-size: 0.71429em;
  min-height: 0;
  margin: 0;
}
.partner-item .item-price {
  font-size: 0.71429em;
}

.btn-select {
  position: relative;
  display: block;
  content: '';
  width: 0;
  height: 0;
  border: 12px solid #E1E1E1;
  border-radius: 50%;
  text-indent: -99999px;
  margin: 0 auto;
}

a.selected .btn-select:after {
  position: absolute;
  top: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  content: '';
  width: 0;
  height: 0;
  border: 8px solid #47a1c5;
  border-radius: 50%;
}

.progress-box {
  width: 100%;
  padding: 5px;
  background-color: #f3f2f2;
  border-bottom: 1px solid #464646;
  position: relative;
}

.remove-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  width: 48%;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 10px;
  color: #fff;
}

.summary-group-container {
  padding: 5px;
  width: 50%;
  float: left;
}

.summary-item {
  width: 33.3%;
  float: left;
  padding: 0 3px 0 0;
}

.summary-item-img {
  width: 100%;
  height: 56px;
  background: url(../images/bottle-1.svg) no-repeat center center #898989;
  overflow: hidden;
  position: relative;
}
.no-svg .summary-item-img {
  background-image: url(../images/bottle-1.png);
}
.summary-item-img img {
  width: auto;
  height: 56px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
          transition: opacity 0.5s ease;
}
.selected .summary-item-img img {
  opacity: 1;
}
.item-2 .summary-item-img {
  background-image: url(../images/bottle-2.svg);
}
.no-svg .item-2 .summary-item-img {
  background-image: url(../images/bottle-2.png);
}
.item-3 .summary-item-img {
  background-image: url(../images/bottle-3.svg);
}
.no-svg .item-3 .summary-item-img {
  background-image: url(../images/bottle-3.png);
}
.item-4 .summary-item-img {
  background-image: url(../images/bottle-4.svg);
}
.no-svg .item-4 .summary-item-img {
  background-image: url(../images/bottle-4.png);
}
.item-5 .summary-item-img {
  background-image: url(../images/bottle-5.svg);
}
.no-svg .item-5 .summary-item-img {
  background-image: url(../images/bottle-5.png);
}
.item-6 .summary-item-img {
  background-image: url(../images/bottle-6.svg);
}
.no-svg .item-6 .summary-item-img {
  background-image: url(../images/bottle-6.png);
}
.selected .summary-item-img {
  background: #fff;
}

.summary-selection-indicator {
  width: 100%;
  height: 12px;
  margin: 3px 0;
  background-color: #898989;
  background-position: center 0;
  -webkit-transition: background 0.5s ease;
          transition: background 0.5s ease;
}
.selected .summary-selection-indicator {
  background: url(../images/tick-white.svg) no-repeat center 0 #9bbb59;
}
.no-svg .selected .summary-selection-indicator {
  background-image: url(../images/tick-white.png);
}

.summary-progress-container {
  width: 100%;
  height: 16px;
  padding-right: 3px;
  font-size: 0.78571em;
  line-height: 16px;
  color: #fff;
  text-align: center;
}

.summary-progress-indicator {
  background-color: #47a1c5;
  -webkit-transition: background-color 0.5s ease;
          transition: background-color 0.5s ease;
}
.complete .summary-progress-indicator {
  background-color: #9bbb59;
}

.price-container {
  width: 100%;
  float: left;
  padding: 3px 8px 3px 5px;
}

.price {
  float: left;
  font-size: 1.14286em;
  line-height: 39px;
  text-transform: uppercase;
}

.continue {
  float: right;
}

@media all and (orientation: landscape) {
  .progress-box .summary-group-container, .progress-box .price-container {
    width: 33.333%;
  }
  .progress-box .price {
    float: right;
    line-height: 32px;
    text-align: right;
    margin: 16px 0 5px 0;
    width: 100%;
  }
}
h1 {
  font-size: 1.71429em;
}

h2 {
  font-size: 1.14286em;
}
h2.intro {
  margin: 10px 0 30px 0;
}

h3.product-title {
  font-size: 0.85714em;
  margin: 0 0 6px 0;
  line-height: 1.3;
}

h4.pack-heading {
  font-size: 1em;
  margin: 0;
}
