//
// Dummy header/footer set up
// --------------------------------------------------

.header, .footer {
	display: block;
	width: 100%;
	height: 50px;
	background: #eee;
	color: #ccc;
	text-align: center;
	line-height: 50px;
}

.footer {
	height: 240px;
}

//
// Partials
// --------------------------------------------------

@import "partials/variables";
@import "partials/modals";
@import "partials/buttons";
@import "partials/lazyload";

//
// Containers
// --------------------------------------------------

body {
	position: relative;
	min-width: 320px;
}

.container {

	&.pick {
		padding: 0;
	}
}

//
// Intro page
// --------------------------------------------------

.continue-container {

	span {
		display: block;
		text-align: center;
		margin: 6px 0;
	}
}

.start-container {
	margin-bottom: 20px;

	&.existing-cart {
		display: none;
	}
}

//
// Step indicator
// --------------------------------------------------

.step-indicator {
	width: 100%;
	height: 23px;
	border-bottom: 1px solid #acacac;
	background-color: #464646;
	color: #fff;

	a {
		color: #fff;
		text-decoration: none;
		width: 100%;
		display: block;
	}

	.step {
		width: 50%;
		position: relative;
		float: left;
		font-size: em(15);
		line-height: 22px;
		text-transform: uppercase;
		text-align: center;

		&.current {
			background-color: #fff;
			color: #464646;
		}
	}

	.step-one {

		&:after {
			position: absolute;
			top: 0;
			right: -11px;
			display: block;
			content: '';
			width: 0; 
			height: 0; 
			border-top: 11px solid transparent;
			border-bottom: 11px solid transparent;
			border-left: 11px solid #464646;
			z-index: 1;
		}

		&.current {
			&:after {
				border-left: 11px solid #fff;
			}
		}
	}
	
}

//
// Product Carousel
// --------------------------------------------------

.product-container {
	// height: 1000px;
	overflow-x: scroll;
	overflow-y: hidden;
  	-webkit-overflow-scrolling: touch;
	width: 100%;
	padding-bottom: 20px;
  	position: relative;
}

.scroll-hint {
  position: absolute;
  top: 40%;
  margin-top: -35px;
  right: 10px;
  width: 35px;
  height: 70px;
  background: url("../images/chevron.svg") no-repeat 0 0;
  
  .no-svg & {
	background-image: url("../images/chevron.png");
  }
}

.product-list {
	white-space: nowrap;
	float: left;
}

.category-itemlist {
	display: inline-block;
}

.product-item {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	white-space: normal;
	position: relative;

	// width: 70%; // temporary

	width: 200px; // temporary

}

.product-img {

	min-height: 200px;
	background: url(../images/loading-spinner@2x.gif) no-repeat center center;
	background-size: 20px 20px;
	// loading-spinner@2x.gif

	.partner-item & {
		min-height: 100px;
		background: none;
	}

	img {
		width: 100%;
		max-width: 400px;
		min-width: 200px;
		// width: 200px;
		// height: 200px;
	}
}

.product-description {
	padding: 0 10px;
}

.product-title {
	min-height: 34px;
	margin-bottom: 6px;
}

.more-info {
	// display: none; // needs work
	position: relative;
}

.more-info-trigger {

	a {
		width: 26px;
		height: 26px;
		display: block;
		margin: 0 auto;
		background: url(../images/info-close-icon.svg) no-repeat 0 0;

		.no-svg & {
			background-image: url(../images/info-close-icon.png);
		}

		span {
			display: none;
		}

		&.active {
			background-position: -26px 0;
		}
	}
}

.more-info-content {
	display: none; // need to add animation

	background-color: rgba(235,233,233,0.95);
	padding: 18px 18px 8px 18px;
	position: absolute;
	bottom: 36px;
  	max-height: 216px;
	z-index: 1;

	&:after {
		position: absolute;
		bottom: -6px;
		left: 50%;
		margin-left: -6px;
		display: block;
		content: '';
		width: 0; 
		height: 0; 
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 6px solid rgba(235,233,233,0.95);
		z-index: 1;
	}

	p {
		font-size: em(12);
		text-align: left;

		&.description {
			font-style: italic;
		}
	}
}

.more-info-scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  max-height: 190px;
}


//
// Category Navigation
// --------------------------------------------------

.category-nav-container {
	width: 100%;
	height: 54px;
	left: 0;
	bottom: 0;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	// border-top: 1px solid #464646;
	// z-index: 1000;
	// position: fixed;
}

.category-nav {
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	height: 54px;
}

ul.category-list {
	margin: 3px 0 0 0;
	padding: 0;
	list-style-type: none;
	white-space: nowrap;
	position: relative;
	float: left;

	&:before {
		content: '';
		position: absolute;
		top: 29px;
		left: 48px;
		height: 4px;
		width: 80%;  // fallback
		width: calc(100% - 80px);
		background-color: #e1e1e1;
	}

	li {
		// float: left;
		display: inline-block;
		margin: 0 8px;
		text-align: center;
		// min-width: 80px;

		a {
			width: auto;
			height: 48px;
			display: block;
			font-size: em(11);
			text-transform: uppercase;
			color: #3e3e3e;
			padding: 0 5px;
			position: relative;
			text-decoration: none;

			&:before {
				position: absolute;
				top: 20px;
				left: 50%;
				transform: translateX(-50%);
				display: block;
				content: '';
				width: 0; 
				height: 0; 
				border: 8px solid #e1e1e1; // 2* 16px
				border-radius: 50%;
			}

			&.active {

				&:before {
					top: 16px;
					border: 12px solid #e1e1e1; // 24px
				}

				&:after {
					position: absolute;
					top: 20px;
					left: 50%;
					transform: translateX(-50%);
					display: block;
					content: '';
					width: 0; 
					height: 0; 
					border: 8px solid #47a1c5; // 2* 16px
					border-radius: 50%;
				}
			}	
		}
	}
}

//
// Review Box (Pack Page)
// --------------------------------------------------

.review-box {
	width: 100%;
	padding: 10px 0;
	background-color: #f3f2f2;
	border-bottom: 1px solid #464646;
	text-align: center;
}

.review {
	padding: 0 0 10px 0;
}

.selection-container {

	.more-info {
		padding: 8px 0 0 0;
		position: inherit;
	}

	.more-info-content {
		font-size: em(11);
		padding: 8px;
		left: 50%;
		transform: translateX(-50%);
		width: 176px;

		&.left {
			transform: translateX(0);
			left: 0;

			&:after {
				left: 15%;
			}
		}

		&.right {
			transform: translateX(0);
			left: auto;
			right: 0;

			&:after {
				left: auto;
				right: 15%;
			}
		}
	}

}

.selection-title {
	position: relative;
	width: 100%;
	height: 20px;
	font-size: em(11);
	line-height: 20px;
	color: #FFF;
	background-color: #47A1C5;
	margin-bottom: 8px;

	span {
		text-transform: uppercase;
	}

	a {
		color: #fff;
		position: absolute;
		right: 10px;
		text-decoration: underline;
	}
}

.selected-item-list {
	margin: 0 auto;
	padding: 0 10px;
	width: 100%;
	max-width: 434px;
	min-width: 320px;
	display: table;
  	align-items: center;
  	position: relative;
}

.selected-item {
	padding: 0 2px;
	width: 16.66666666666667%;
	max-width: 69px;
	min-width: 50px;
	display: table-cell;
	position: relative;
}

.selected-item-img {
	background: #fff;

	img {
		width: 100%;
		max-width: 65px;
	}
}

//
// Add a Bag (Pack Page)
// --------------------------------------------------

.partner-container {
	text-align: center;
	padding: 14px 10px;

	.price-container {
		float: none;
		padding: 0;
	}
}

.partner-itemlist {
	margin: 0 auto 16px auto;
	width: auto;
	max-width: 660px;
	min-width: 300px;
}

.partner-item {
	min-width: 100px;
	max-width: 220px;
	width: 33.33%;
	float: left;

	a {
		text-decoration: none;
	}

	.product-img {
		img {
			min-width: 100px;
		}
	}

	.product-description {
		min-height: 32px;
		padding: 0 5px;
	}

	h3.product-title {
		font-size: em(10);
		min-height: 0;
		margin: 0;
	}

	.item-price {
		font-size: em(10);
	}

}

.btn-select {
	position: relative;
	display: block;
	content: '';
	width: 0;
	height: 0;
	border: 12px solid #E1E1E1;
	border-radius: 50%;
	text-indent: -99999px;
	margin: 0 auto;
}

a.selected .btn-select {
	&:after {
		position: absolute;
		top: -8px;
		left: 50%;
		transform: translateX(-50%);
		display: block;
		content: '';
		width: 0; 
		height: 0; 
		border: 8px solid #47a1c5; // 2* 16px
		border-radius: 50%;
	}
}


//
// Progress Box
// --------------------------------------------------

.progress-box {
	width: 100%;
	padding: 5px;
	background-color: #f3f2f2;
	border-bottom: 1px solid #464646;
  	position: relative;
}

.remove-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  width: 48%;
  background-color: rgba(0,0,0,0.65);
  padding: 10px;
  color: #fff;
}

.summary-group-container {
	padding: 5px;
	width: 50%;
	float: left;
}

.summary-item {
	width: 33.3%;
	float: left;
	padding: 0 3px 0 0;
}

.summary-item-img {
	width: 100%;
	height: 56px;
	background: url(../images/bottle-1.svg) no-repeat center center #898989;
	overflow: hidden;
	position: relative;

	.no-svg & {
		background-image: url(../images/bottle-1.png);
	}

	img {
		width: auto;
		height: 56px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.item-2 & {
		background-image: url(../images/bottle-2.svg);

		.no-svg & {
			background-image: url(../images/bottle-2.png);
		}
	}
	.item-3 & {
		background-image: url(../images/bottle-3.svg);

		.no-svg & {
			background-image: url(../images/bottle-3.png);
		}
	}
	.item-4 & {
		background-image: url(../images/bottle-4.svg);

		.no-svg & {
			background-image: url(../images/bottle-4.png);
		}
	}
	.item-5 & {
		background-image: url(../images/bottle-5.svg);

		.no-svg & {
			background-image: url(../images/bottle-5.png);
		}
	}
	.item-6 & {
		background-image: url(../images/bottle-6.svg);

		.no-svg & {
			background-image: url(../images/bottle-6.png);
		}
	}

	.selected & {
		background: #fff;
	}
}

.summary-selection-indicator {
	width: 100%;
	height: 12px;
	margin: 3px 0;
	background-color: #898989;

	.selected & {
		background: url(../images/tick-white.svg) no-repeat center 0 #9bbb59;

		.no-svg & {
			background-image: url(../images/tick-white.png);
		}
	}
}

.summary-progress-container {
	width: 100%;
	height: 16px;
	padding-right: 3px;
	font-size: em(11);
	line-height: 16px;
	color: #fff;
	text-align: center;
}

.summary-progress-indicator {
	background-color: #47a1c5;

	.complete & {
		background-color: #9bbb59;
	}
}

.price-container {
	width: 100%;
	float: left;
	padding: 3px 8px 3px 5px;
}

.price {
	float: left;
	font-size: em(16);
	line-height: 32px; // to match height of continue button
	text-transform: uppercase;
}

.continue {
	float: right;
}

@import "partials/landscape";

//
// Typography
// --------------------------------------------------

h1 {
	font-size: em(24);
}

h2 {
	font-size: em(16);

	&.intro {
		margin: 10px 0 30px 0;
	}
}

h3.product-title {
	font-size: em(12);
	margin: 0 0 6px 0;
	line-height: 1.3;
}

h4.pack-heading {
	font-size: em(14);
	margin: 0;
}