//
// Landscape media
// --------------------------------------------------

@media all and (orientation:landscape) {

  .progress-box {

    .summary-group-container, .price-container {
      width: 33.333%;
    }

    .price {
      float: right;
      line-height: 32px;
      text-align: right;
      margin: 16px 0 5px 0;
      width: 100%;
    }

  }

  .remove-tooltip {
    right: auto;
    width: 63.666%;
  }

}